/* Üst menü için geçişli mavi (Sonsuz mavisinden daha koyu bir maviye) */
.navbar.is-dark, 
.navbar.is-primary {
    background: linear-gradient(135deg, #2688c5 0%, #144f75 100%) !important;
    border: none;
}

/* Ana butonlar için geçişli mavi */
.button.is-primary {
    background: linear-gradient(135deg, #2688c5 0%, #144f75 100%) !important;
    border: none;
}

.button.is-primary:hover {
    background: linear-gradient(135deg, #1f73a7 0%, #0d3854 100%) !important;
}